{% extends 'todo/layout.html' %}

{% block content %}
      <h1>Lista de mis actividades</h1>

      <table class="table la-tabla">
        <thead>
          <tr>
            <th>Tarea</th>
            <th></th>
          </tr>
        </thead>    
        <tbody>
          {% for tarea in tareas %}
          <tr>
            <td>{{ tarea }}</td>
            <td>
              <a href="{% url 'eliminar' tarea.id %}" class="btn btn-danger">
                <i class="bi bi-trash"></i> Eliminar
              </a>
              <a href="{% url 'editar' tarea.id %}" class="btn btn-warning">
                <i class="bi bi-pencil"></i> Editar
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
